body {
    font-family: 'Helvetica';
    margin: 0;
    padding: 0;
	background: #F5F5F5;
}

#search {
    width: 40em;
    height: 2em;
    border-radius: 5px;
    border: #FFFFFF 1px solid;
}

#search-btn {
    color: #FFFFFF;
    background-color: #5d9cec;
    border-color: #5899eb;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 16px;
    font-size: 14px;
    border-radius: 4px;
}
.bold {
    font-weight: bold;
}
h1{	
	background: #4a89dc;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
	margin-bottom: 10px;
}
